html, body {
  height: 100%;
  margin: 0; /* Ensuring no default margin */
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

#title {
  height: 100vh;
  padding-bottom: -100px; /* Adjust this value to your needs */
}

.companies{
  display: flex;
  justify-content: center;
}

.companies > img{
  width: 150px;
  height: 25px;
  margin: 50px 100px;
}

 .m{
  text-align: center;
}

.a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
} 

#picture{
  border-radius: 50%;
  width: 150px;
}

#pricing{
  display: flex;
  justify-content: center;
}

/* .m{
  display: flex;
} */